@model SearchHistoryModel

<!DOCTYPE html>
<html>
<head>
    <title>Search Cryptocurrency</title>
    <link rel="stylesheet" href="~/css/search-styles.css" />
</head>
<body>
    
    <div class="main-container">
        <!-- Search Form -->
        <div  class="search-input-group">
            <input type="text" name="cryptoId" id="cryptoId" placeholder="Enter cryptocurrency ID or symbol" required class="search-input">
            <button type="button" class="search-button" id="searchbutton">Search</button>
         
        </div>

        <!-- Crypto Information Holder -->
        <div class="crypto-holder">
            <div class="crypto-header">
                <img id="cryptoIcon" src="@Model.ImageUrl" alt="Crypto Icon" class="crypto-icon">
                <div class="crypto-basic-info">
                    <span id="cryptoName" class="crypto-name">Cryptocurrency @Model.Name</span>
                    <span id="cryptoSymbol" class="crypto-symbol">Symbol: @Model.Symbol</span>
                    <span id="cryptoCurrentPrice" class="crypto-current-price">Current Price: @Model.CurrentPrice</span>
                </div>
            </div>
            <div class="crypto-details">
                <div class="crypto-market-info">
                    <h3>Market Info</h3>
                    <span id="cryptoMarketCap">Market Cap: @Model.MarketCap</span>
                    <span id="cryptoVolume24h">Volume (24h): @Model.Volume24h</span>
                    <span id="cryptoPriceChange24h">Price Change (24h):  @Model.PriceChangePercentage24h%</span>
                    <span id="cryptoHigh24h">High (24h):  @Model.High24h</span>
                    <span id="cryptoLow24h">Low (24h):  @Model.Low24h</span>
                    <span id="cryptoPriceChange7d">Price Change (7d):  @Model.PriceChangePercentage7d%</span>
                </div>

                <div class="crypto-supply-info">
                    <h3>Supply Info</h3>
                    <span id="cryptoTotalSupply">Total Supply:  @Model.TotalSupply</span>
                    <span id="cryptoMaxSupply">Max Supply:  @Model.MaxSupply</span>
                </div>
            </div>
        </div>
        <!-- Crypto History Holder -->
        <div class="crypto-history-holder">
            <h2 class="crypto-history-title">Search History</h2>
            <ul id="search-history">  
            </ul>
        </div>
    </div>
  
    @section Scripts{
        <script src="~/js/searchpagejs.js" asp-append-version="true"></script>
    }

</body>
</html>
