@model CryptoModel

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Crypto List</title>

</head>
<body>

    <div class="container">

        <div class="input-group">
            <button class="add-button" onclick="addCrypto();">Добавить</button>
            <input type="text" class="add-input" placeholder="Введите название криптовалюты" id="cryptoName">
            <button class="refresh-button" onclick="location.reload();">Обновить</button>  <!-- Кнопка Обновить -->
        </div>


        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Abbreviation</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int counter = 1;
                }
                @* @foreach (var crypto in Model)
                { *@
                    <tr>
                        <td>@counter</td>
                    <td><img src="@Model.ImageUrl" alt="@Model.Name" width="50"></td>
                    <td>@Model.Name</td>
                    <td>@Model.Abbreviation</td>
                    <td>@Model.Price USD</td>
                    </tr>
                   @*  @counter++; *@
               @*  } *@
            </tbody>
        </table>
    </div>

</body>
</html>
