@using CryptoCurrencyViewer.Models.Crypto;
@model List<DefaultCryptoModel>?

<html>
<head>
    <title>Top Cryptocurrencies</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    <div class="main-container">
        <!-- Search Form -->
        <form method="get" action="/Home/Search" class="search-input-group">
            <input type="text" name="cryptoId" id="cryptoId" placeholder="Enter cryptocurrency ID or symbol" required class="search-input">
            <button type="submit" id="searchButton" class="search-button">Search</button>
        </form>

        <!-- Список для подсказок -->
        <div id="suggestions" class="suggestions"></div>


        <div class="buttons-container">
            <button id="subscriptionButton" class="action-button subscribe-button">Subscribe</button>
            <button data-action="update" id="update-button" class="action-button update-button">Обновить</button>
            <button data-action="delete" id="delete-button" class="action-button delete-button">Удалить</button>
        </div>

        <!-- Subscription Form -->
        <div id="subscriptionForm" class="subscription-form">
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Subscription.Name" required />
            <label for="Email">Email:</label>
            <input type="email" id="Email" name="Subscription.Email" required />
            <button type="submit" id="submitSubscription" class="action-button subscribe-button">Subscribe</button>
        </div>

        <table id="cryptoTable" class="crypto-table">
            <thead>
                <tr>
                    <th></th> <!-- Колонка для радиокнопки выбора -->
                    <th>Image</th>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Price (USD)</th>
                    <th>Market Cap</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var crypto in Model)
                {
                    <tr id=@crypto.CryptoModelName>
                        <td><input type="radio" name="selectedCrypto" value="@crypto.CryptoModelName"></td>
                        <td><img src="@crypto.ImageUrl" alt="@crypto.CryptoModelName" width="50"></td>
                        <td class="custom-link crypto-name" data-crypto-name="@crypto.CryptoModelName" ondblclick="openSearchPage(this.getAttribute('data-crypto-name'))"><a>@crypto.CryptoModelName</a></td>
                        <td>@crypto.Symbol</td>
                        <td class="price">@crypto.CurrentPrice USD</td>
                        <td class="marketCap">@crypto.MarketCap USD</td>
                    </tr>
                }
            </tbody>
        </table>
        
    </div>

   @*  <!-- Модальное окно Bootstrap для подтверждения удаления -->
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmationModalLabel">Подтверждение удаления</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить выбранную криптовалюту?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Удалить</button>
                </div>
            </div>
        </div>
    </div> *@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>