@using CryptoCurrencyViewer.Models.Crypto;
@model List<DefaultCryptoModel>?

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Cryptocurrencies</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container main-container mt-3">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
            <a class="navbar-brand" href="#">CryptoViewer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <!-- Search Form -->
        <form method="get" action="/Home/Search" class="input-group mb-3">
            <input type="text" name="cryptoId" id="cryptoId" class="form-control" placeholder="Enter cryptocurrency ID or symbol" required>
            <button type="submit" id="searchButton" class="btn btn-primary btn-icon"><i class="fa fa-search"></i>Search</button>
        </form>

        <!-- Button group -->
        <div class="btn-group mb-3" role="group" aria-label="Basic example">
            <button data-action="update" id="update-button" class="btn btn-secondary btn-icon"><i class="fa fa-sync-alt"></i>Обновить</button>
            <button data-action="delete" id="delete-button" class="btn btn-danger btn-icon"><i class="fa fa-trash-alt"></i>Удалить</button>

        </div>

        <!-- Crypto Cards -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var crypto in Model)
            {
                <div class="col">
                    <div class="card h-100">
                        <img src="@crypto.ImageUrl" class="card-img-top" alt="@crypto.CryptoModelName">
                        <div class="card-body">
                            <h5 class="card-title">@crypto.CryptoModelName</h5>
                            <p class="card-text"><strong>Symbol:</strong> @crypto.Symbol</p>
                            <p class="card-text"><strong>Price:</strong> @crypto.CurrentPrice USD</p>
                            <p class="card-text"><strong>Market Cap:</strong> @crypto.MarketCap USD</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>
</html>




  @*                       @using CryptoCurrencyViewer.Models.Crypto;
@model List<DefaultCryptoModel>?

<html>
<head>
    <title>Top Cryptocurrencies</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    <div class="main-container">
        <!-- Search Form -->
        <form method="get" action="/Home/Search" class="search-input-group">
            <input type="text" name="cryptoId" id="cryptoId" placeholder="Enter cryptocurrency ID or symbol" required class="search-input">
            <button type="submit" id="searchButton" class="search-button">Search</button>
        </form>

        <!-- Список для подсказок -->
        <div id="suggestions" class="suggestions"></div>


        <div class="buttons-container">
            <button id="subscriptionButton" class="action-button subscribe-button">Subscribe</button>
            <button data-action="update" id="update-button" class="action-button update-button">Обновить</button>
            <button data-action="delete" id="delete-button" class="action-button delete-button">Удалить</button>
        </div>

        <!-- Subscription Form -->
        <div id="subscriptionForm" class="subscription-form">
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Subscription.Name" required />
            <label for="Email">Email:</label>
            <input type="email" id="Email" name="Subscription.Email" required />
            <button type="submit" id="submitSubscription" class="action-button subscribe-button">Subscribe</button>
        </div>

        <table id="cryptoTable" class="crypto-table">
            <thead>
                <tr>
                    <th></th> <!-- Колонка для радиокнопки выбора -->
                    <th>Image</th>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Price (USD)</th>
                    <th>Market Cap</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var crypto in Model)
                {
                    <tr id=@crypto.CryptoModelName>
                        <td><input type="radio" name="selectedCrypto" value="@crypto.CryptoModelName"></td>
                        <td><img src="@crypto.ImageUrl" alt="@crypto.CryptoModelName" width="50"></td>
                        <td class="custom-link crypto-name" data-crypto-name="@crypto.CryptoModelName" ondblclick="openSearchPage(this.getAttribute('data-crypto-name'))"><a>@crypto.CryptoModelName</a></td>
                        <td>@crypto.Symbol</td>
                        <td class="price">@crypto.CurrentPrice USD</td>
                        <td class="marketCap">@crypto.MarketCap USD</td>
                    </tr>
                }
            </tbody>
        </table>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html> *@