


@using CryptoCurrencyViewer.Models.Crypto;
@model List<DefaultCryptoModel>?

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Cryptocurrencies</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container main-container mt-5">
        <!-- Search Form -->
        <form method="get" action="/Home/Search" class="input-group mb-3">
            <input type="text" name="cryptoId" id="cryptoId" placeholder="Enter cryptocurrency ID or symbol" required class="form-control">
            <div class="input-group-append">
                <button type="submit" id="searchButton" class="btn btn-outline-secondary">Search</button>
            </div>
        </form>

        <!-- Suggestions List -->
        <div id="suggestions" class="suggestions"></div>

        <!-- Action Buttons -->
        <div class="mb-3">
            <button data-action="update" id="update-button" class="btn btn-primary">Обновить</button>
            <button data-action="delete" id="delete-button" class="btn btn-danger">Удалить</button>
        </div>

        <!-- Crypto Table -->
        <div class="table-responsive">
            <table id="cryptoTable" class="table">
                <!-- Table head -->
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Symbol</th>
                        <th scope="col">Price (USD)</th>
                        <th scope="col">Market Cap</th>
                    </tr>
                </thead>
                <!-- Table body -->
                <tbody>
                    @foreach (var crypto in Model ?? new List<DefaultCryptoModel>())
                    {
                        <tr id="@crypto.CryptoModelName">
                            <td>
                                <input type="radio" name="selectedCrypto" value="@crypto.CryptoModelName" id="radio-@crypto.CryptoModelName">
                            </td>
                            <td>
                                <img src="@crypto.ImageUrl" alt="@crypto.CryptoModelName" width="50" id="image-@crypto.CryptoModelName">
                            </td>
                            <td id="name-@crypto.CryptoModelName" class="custom-link crypto-name" data-crypto-name="@crypto.CryptoModelName" ondblclick="openSearchPage(this.getAttribute('data-crypto-name'))">
                                <a>@crypto.CryptoModelName</a>
                            </td>
                            <td id="symbol-@crypto.CryptoModelName">@crypto.Symbol</td>
                            <td id="price-@crypto.CryptoModelName" class="price">@crypto.CurrentPrice USD</td>
                            <td id="marketCap-@crypto.CryptoModelName" class="marketCap">@crypto.MarketCap USD</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
